name: Build and Push Backend

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ШАГ 1: Установка Java
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven # Кэширование ускорит последующие сборки

      # ШАГ 2: Сборка JAR-файла через Maven
      - name: Build with Maven
        run: mvn clean package -DskipTests # Собираем проект, пропуская тесты для скорости

      # ШАГ 3: Авторизация в Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ШАГ 4: Сборка и пуш Docker-образа
      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: lozov/todo-backend:latest
